<div>
  <div>
    <h1>
      List of <%= @current_user.first_name %>'s words
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new word
    </h2>

    <form action="/insert_word" method="post">
      <div>
        <label for="word_box">
          Word
        </label>

        <input type="text" id="word_box" name="query_word">
      </div>

      <button>
        Ask AI!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-success table-striped-columns">
      <tr>
        <th>
          ID
        </th>

        <th>
          Word
        </th>

        <th>
          Meaning
        </th>

        <th>
          Ex. sentence
        </th>

        <th>
          Top 3 collocations
        </th>

        <th>
          Frequency of use (out of 20[max])
        </th>

        <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_words.each do |a_word| %>
      <tr>
        <td>
          <%= a_word.id %>
        </td>

        <td>
          <b><%= a_word.word %></b>
        </td>

        <td>
          <%= a_word.meaning %>
        </td>

        <td>
        <%= a_word.ex_sentence %>
        </td>

        <td>
          <%= a_word.top_collocations %>
        </td>

        <td>
          <%= a_word.frequency_of_use %>
        </td>

        <td>
          <a href="/words/<%= a_word.id %>">
            Edit the word
          </a>

        <td>
          <a href="/delete_word/<%= a_word.id %>">
            Delete the word
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
